<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.one.map">

  <!--腾讯地图 SDK 要求的权限(开始)-->
  <!--访问网络获取地图服务-->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!--检查网络可用性-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- 访问WiFi状态 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!--需要外部存储写权限用于保存地图缓存-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!--获取 device id 辨别设备-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--获取日志读取权限，帮助我们提高地图 sdk 稳定性-->
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <!-- 通过GPS得到精确位置 -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- 通过网络得到粗略位置 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <!-- 访问网络状态, 检测网络的可用性，需要网络运营商相关信息用于网络定位 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <!-- 访问手机当前状态, 需要某些信息用于网络定位 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--腾讯地图 SDK 要求的权限(结束)-->

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="23"/>

  <!--用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
  <!--用于访问GPS定位-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
  <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
  <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
  <!--用于访问网络，网络定位需要上网-->
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <!--用于读取手机当前的状态-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
  <!--用于写入缓存数据到扩展存储卡-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <!--用于申请调用A-GPS模块-->
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
  <!--用于申请获取蓝牙信息进行室内定位-->
  <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

  <application
    android:allowBackup="false"
    android:label="@string/app_name"
    android:supportsRtl="false">
    <!-- Tencent begin -->
    <meta-data android:name="TencentMapSDK" android:value="WA7BZ-LFL33-GX43E-YRPAE-A2AO2-WRFUR"/>
    <!-- Tencent end -->

    <!-- AMAP begin -->
    <meta-data android:name="com.amap.api.v2.apikey" android:value="d12254986480e3ee548c35a86cd28d3d"/>
    <service android:name="com.amap.api.location.APSService"></service>
    <!-- AMAP end -->
  </application>

</manifest>
